/* ===== RESET GLOBAL ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-submit:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}

.prediction-result {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
}

.prob-bar {
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 20px;
  margin-top: 5px;
}

.prob-fill {
  height: 100%;
}

.prob-fill.red {
  background-color: red;
}

.prob-fill.green {
  background-color: green;
}
